//! **************************************************************************
// Written by: Map P.20131013 on Tue May 13 15:26:17 2014
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "OUT_PUFFERLEER" LOCATE = SITE "P32" LEVEL 1;
COMP "OUT_PUFFERVOLL" LOCATE = SITE "P19" LEVEL 1;
COMP "OUT_ADAT<0>" LOCATE = SITE "P57" LEVEL 1;
COMP "OUT_ADAT<1>" LOCATE = SITE "P71" LEVEL 1;
COMP "OUT_ADAT<2>" LOCATE = SITE "P73" LEVEL 1;
COMP "OUT_PUFFERUEBERLAUF" LOCATE = SITE "P6" LEVEL 1;
COMP "IN_PLATINENTAKT" LOCATE = SITE "P89" LEVEL 1;
COMP "OUT_ESLEBT" LOCATE = SITE "P94" LEVEL 1;
COMP "OUT_PUFFERUNTERLAUF" LOCATE = SITE "P33" LEVEL 1;
PIN INST_ENKODERTESTCLOCK/DCM_SP_INST_pins<3> = BEL
        "INST_ENKODERTESTCLOCK/DCM_SP_INST" PINNAME CLKIN;
TIMEGRP in_Platinentakt = BEL "OUT_ESLEBT" BEL "I0_0" BEL "I0_1" BEL "I0_2"
        BEL "I0_3" BEL "I0_4" BEL "I0_5" BEL "I0_6" BEL "I0_7" BEL "I0_8" BEL
        "I0_9" BEL "I0_10" BEL "I0_11" BEL "I0_12" BEL "I0_13" BEL "I0_14" BEL
        "I0_15" BEL "I0_16" BEL "I0_17" BEL "I0_18" BEL "I0_19" BEL "I0_20"
        BEL "I0_21" BEL "I0_22" BEL "I0_23" BEL "I0_24" BEL "I0_25" BEL
        "I0_26" BEL "I0_27" BEL "I0_28" BEL "I0_29" BEL "I0_30" BEL "I0_31"
        BEL "OUT_ESLEBT_1" BEL "IN_PLATINENTAKT_IBUFG_BUFG.GCLKMUX" BEL
        "IN_PLATINENTAKT_IBUFG_BUFG" PIN
        "INST_ENKODERTESTCLOCK/DCM_SP_INST_pins<3>";
TIMEGRP INST_ENKODERTESTCLOCK_CLKFX_BUF = BEL "PUFFERDATEN<0>.KANAELE_0_0" BEL
        "PUFFERDATEN<0>.KANAELE_0_1" BEL "PUFFERDATEN<0>.KANAELE_0_2" BEL
        "PUFFERDATEN<0>.KANAELE_0_3" BEL "PUFFERDATEN<0>.KANAELE_0_4" BEL
        "PUFFERDATEN<0>.KANAELE_0_5" BEL "PUFFERDATEN<0>.KANAELE_0_6" BEL
        "PUFFERDATEN<0>.KANAELE_0_7" BEL "PUFFERDATEN<0>.KANAELE_0_8" BEL
        "PUFFERDATEN<0>.KANAELE_0_9" BEL "PUFFERDATEN<0>.KANAELE_0_10" BEL
        "PUFFERDATEN<0>.KANAELE_0_11" BEL "PUFFERDATEN<0>.KANAELE_0_12" BEL
        "PUFFERDATEN<0>.KANAELE_0_13" BEL "PUFFERDATEN<0>.KANAELE_0_14" BEL
        "PUFFERDATEN<0>.KANAELE_0_15" BEL "PUFFERDATEN<0>.KANAELE_0_16" BEL
        "PUFFERDATEN<0>.KANAELE_0_17" BEL "PUFFERDATEN<0>.KANAELE_0_18" BEL
        "PUFFERDATEN<0>.KANAELE_0_19" BEL "PUFFERDATEN<0>.KANAELE_0_20" BEL
        "PUFFERDATEN<0>.KANAELE_0_21" BEL "PUFFERDATEN<0>.KANAELE_0_22" BEL
        "PUFFERDATEN<0>.KANAELE_0_23" BEL "PUFFERNEUEDATEN" BEL "STEIGEND_0"
        BEL "PUFFERDATEN<1>.KANAELE_1_0" BEL "PUFFERDATEN<1>.KANAELE_1_1" BEL
        "PUFFERDATEN<1>.KANAELE_1_2" BEL "PUFFERDATEN<1>.KANAELE_1_3" BEL
        "PUFFERDATEN<1>.KANAELE_1_4" BEL "PUFFERDATEN<1>.KANAELE_1_5" BEL
        "PUFFERDATEN<1>.KANAELE_1_6" BEL "PUFFERDATEN<1>.KANAELE_1_7" BEL
        "PUFFERDATEN<1>.KANAELE_1_8" BEL "PUFFERDATEN<1>.KANAELE_1_9" BEL
        "PUFFERDATEN<1>.KANAELE_1_10" BEL "PUFFERDATEN<1>.KANAELE_1_11" BEL
        "PUFFERDATEN<1>.KANAELE_1_12" BEL "PUFFERDATEN<1>.KANAELE_1_13" BEL
        "PUFFERDATEN<1>.KANAELE_1_14" BEL "PUFFERDATEN<1>.KANAELE_1_15" BEL
        "PUFFERDATEN<1>.KANAELE_1_16" BEL "PUFFERDATEN<1>.KANAELE_1_17" BEL
        "PUFFERDATEN<1>.KANAELE_1_18" BEL "PUFFERDATEN<1>.KANAELE_1_19" BEL
        "PUFFERDATEN<1>.KANAELE_1_20" BEL "PUFFERDATEN<1>.KANAELE_1_21" BEL
        "PUFFERDATEN<1>.KANAELE_1_22" BEL "PUFFERDATEN<1>.KANAELE_1_23" BEL
        "INTERVALL_0" BEL "INTERVALL_1" BEL "INTERVALL_2" BEL "INTERVALL_3"
        BEL "INTERVALL_4" BEL "INTERVALL_5" BEL "INTERVALL_6" BEL
        "INTERVALL_7" BEL "INTERVALL_8" BEL "INTERVALL_9" BEL "INTERVALL_10"
        BEL "INTERVALL_11" BEL "INTERVALL_12" BEL "INTERVALL_13" BEL
        "INTERVALL_14" BEL "INTERVALL_15" BEL "INTERVALL_16" BEL
        "INTERVALL_17" BEL "INTERVALL_18" BEL "INTERVALL_19" BEL
        "INTERVALL_20" BEL "INTERVALL_21" BEL "INTERVALL_22" BEL
        "INTERVALL_23" BEL "INTERVALL_24" BEL "INTERVALL_25" BEL
        "INTERVALL_26" BEL "INTERVALL_27" BEL "INTERVALL_28" BEL
        "INTERVALL_29" BEL "INTERVALL_30" BEL "INTERVALL_31" BEL "I_0" BEL
        "I_1" BEL "I_2" BEL "I_3" BEL "I_4" BEL "I_5" BEL "I_6" BEL "I_7" BEL
        "I_8" BEL "I_9" BEL "I_10" BEL "I_11" BEL "I_12" BEL "I_13" BEL "I_14"
        BEL "I_15" BEL "I_16" BEL "I_17" BEL "I_18" BEL "I_19" BEL "I_20" BEL
        "I_21" BEL "I_22" BEL "I_23" BEL "I_24" BEL "I_25" BEL "I_26" BEL
        "I_27" BEL "I_28" BEL "I_29" BEL "I_30" BEL "I_31" BEL "BITS_0" BEL
        "BITS_1" BEL "BITS_2" BEL "BITS_3" BEL "BITS_4" BEL "BITS_5" BEL
        "BITS_6" BEL "BITS_7" BEL "WERT_0" BEL "WERT_1" BEL "WERT_2" BEL
        "WERT_3" BEL "WERT_4" BEL "WERT_5" BEL "INST_ADAT_ENKODER/UEBERNOMMEN"
        BEL "INST_ADAT_ENKODER/BITNUMMER_7" BEL
        "INST_ADAT_ENKODER/BITNUMMER_6" BEL "INST_ADAT_ENKODER/BITNUMMER_5"
        BEL "INST_ADAT_ENKODER/BITNUMMER_4" BEL
        "INST_ADAT_ENKODER/BITNUMMER_3" BEL "INST_ADAT_ENKODER/BITNUMMER_2"
        BEL "INST_ADAT_ENKODER/BITNUMMER_1" BEL
        "INST_ADAT_ENKODER/KANALNUMMER_1" BEL
        "INST_ADAT_ENKODER/KANALNUMMER_0" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_1" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_0" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_2" BEL "INST_ADAT_ENKODER/PHASE_2" BEL
        "INST_ADAT_ENKODER/PHASE_1" BEL "INST_ADAT_ENKODER/PHASE_0" BEL
        "INST_ADAT_ENKODER/LOKALEBITNUMMER_4" BEL
        "INST_ADAT_ENKODER/LOKALEBITNUMMER_3" BEL
        "INST_ADAT_ENKODER/LOKALEBITNUMMER_2" BEL
        "INST_ADAT_ENKODER/LOKALEBITNUMMER_1" BEL
        "INST_ADAT_ENKODER/LOKALEBITNUMMER_0" BEL
        "INST_DYNAMISCHERADATPUFFER/LAENGE_1" BEL
        "INST_DYNAMISCHERADATPUFFER/LAENGE_0" BEL
        "INST_DYNAMISCHERADATPUFFER/BR_WE" BEL
        "INST_DYNAMISCHERADATPUFFER/BR_CLK" BEL
        "INST_DYNAMISCHERADATPUFFER/ANFANG_0" BEL
        "INST_DYNAMISCHERADATPUFFER/PUFFERLEER" BEL
        "INST_DYNAMISCHERADATPUFFER/PUFFERVOLL" BEL
        "INST_DYNAMISCHERADATPUFFER/BR_ADDR_0" BEL
        "INST_DYNAMISCHERADATPUFFER/PUFFERUEBERLAUF" BEL
        "INST_DYNAMISCHERADATPUFFER/VERZOEGERTERRAMTAKT_NOETIG_0" BEL
        "INST_DYNAMISCHERADATPUFFER/AUSGANG_NAECHSTERDATENSATZ_ALT" BEL
        "INST_DYNAMISCHERADATPUFFER/PUFFERUNTERLAUF" BEL
        "INST_DYNAMISCHERADATPUFFER/EINGANG_NEUEDATENANGEKOMMEN_ALT" BEL
        "INST_ADAT_ENKODER/KANALNUMMER_2" BEL "INST_ADAT_ENKODER/BITNUMMER_0"
        BEL "INST_ADAT_ENKODER/INTERN_ADAT_0_1" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_1_1" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_2_1" BEL "DEBUG_ADAT_TAKT" BEL
        "INST_ENKODERTESTCLOCK/CLKFX_BUFG_INST.GCLKMUX" BEL
        "INST_ENKODERTESTCLOCK/CLKFX_BUFG_INST";
TS_in_Platinentakt = PERIOD TIMEGRP "in_Platinentakt" 20 ns HIGH 50%;
TS_INST_ENKODERTESTCLOCK_CLKFX_BUF = PERIOD TIMEGRP
        "INST_ENKODERTESTCLOCK_CLKFX_BUF" TS_in_Platinentakt / 0.24 HIGH 50%;
SCHEMATIC END;

