//! **************************************************************************
// Written by: Map P.68d on Fri Apr 25 14:46:34 2014
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "DSP_CLKR_FPGA_CLKX" LOCATE = SITE "P43" LEVEL 1;
COMP "DEBUG_FRAMESYNC" LOCATE = SITE "P88" LEVEL 1;
COMP "IN_ADAT_TAKTWAHL<0>" LOCATE = SITE "P27" LEVEL 1;
COMP "IN_ADAT_TAKTWAHL<1>" LOCATE = SITE "P28" LEVEL 1;
COMP "DSP_FSR_FPGA_FSX" LOCATE = SITE "P44" LEVEL 1;
COMP "OUT_PUFFERLEER" LOCATE = SITE "P32" LEVEL 1;
COMP "DSP_DR_FPGA_DX" LOCATE = SITE "P13" LEVEL 1;
COMP "OUT_PUFFERVOLL" LOCATE = SITE "P19" LEVEL 1;
COMP "DSP_FSX_FPGA_FSR" LOCATE = SITE "P41" LEVEL 1;
COMP "DSP_DX_FPGA_DR" LOCATE = SITE "P15" LEVEL 1;
COMP "IN_ADATTAKT" LOCATE = SITE "P90" LEVEL 1;
COMP "DSP_CLKX_FPGA_CLKR" LOCATE = SITE "P40" LEVEL 1;
COMP "OUT_ADAT<0>" LOCATE = SITE "P57" LEVEL 1;
COMP "OUT_ADAT<1>" LOCATE = SITE "P71" LEVEL 1;
COMP "OUT_ADAT<2>" LOCATE = SITE "P73" LEVEL 1;
COMP "OUT_PUFFERUEBERLAUF" LOCATE = SITE "P6" LEVEL 1;
COMP "IN_PLATINENTAKT" LOCATE = SITE "P89" LEVEL 1;
COMP "IN_ADAT<0>" LOCATE = SITE "P56" LEVEL 1;
COMP "IN_ADAT<1>" LOCATE = SITE "P70" LEVEL 1;
COMP "IN_ADAT<2>" LOCATE = SITE "P72" LEVEL 1;
COMP "OUT_FRAMEOK<0>" LOCATE = SITE "P3" LEVEL 1;
COMP "OUT_FRAMEOK<1>" LOCATE = SITE "P4" LEVEL 1;
COMP "OUT_FRAMEOK<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "OUT_PUFFERNORMAL" LOCATE = SITE "P20" LEVEL 1;
COMP "OUT_ESLEBT" LOCATE = SITE "P94" LEVEL 1;
COMP "DEBUG_ADATTAKT" LOCATE = SITE "P83" LEVEL 1;
COMP "OUT_PUFFERUNTERLAUF" LOCATE = SITE "P33" LEVEL 1;
TIMEGRP in_AdatTakt = BEL "ADAT_FRAME_SYNC_ENKODER" BEL "IN_ADAT_ALT" BEL
        "WERT" BEL "PERIODE_0" BEL "PERIODE_1" BEL "PERIODE_2" BEL "PERIODE_3"
        BEL "ADAT_FRAME_SYNC_ERKENNUNG" BEL "OUT_ESLEBT" BEL "BITNUMMER_0" BEL
        "BITNUMMER_1" BEL "BITNUMMER_2" BEL "BITNUMMER_3" BEL "BITNUMMER_4"
        BEL "BITNUMMER_5" BEL "BITNUMMER_6" BEL "BITNUMMER_7" BEL "I_0" BEL
        "I_1" BEL "I_2" BEL "I_3" BEL "I_4" BEL "I_5" BEL "I_6" BEL "I_7" BEL
        "I_8" BEL "I_9" BEL "I_10" BEL "I_11" BEL "I_12" BEL "I_13" BEL "I_14"
        BEL "I_15" BEL "I_16" BEL "I_17" BEL "I_18" BEL "I_19" BEL "I_20" BEL
        "I_21" BEL "I_22" BEL "BUFGMUX_ADATTAKT.GCLKMUX" BEL
        "BUFGMUX_ADATTAKT" BEL "INST_ADAT_DEKODER/ADAT_FRAME_2_254" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_254" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_254" BEL
        "INST_ADAT_DEKODER/BITZAEHLER_7" BEL "INST_ADAT_DEKODER/BITZAEHLER_6"
        BEL "INST_ADAT_DEKODER/BITZAEHLER_5" BEL
        "INST_ADAT_DEKODER/BITZAEHLER_4" BEL "INST_ADAT_DEKODER/BITZAEHLER_3"
        BEL "INST_ADAT_DEKODER/BITZAEHLER_2" BEL
        "INST_ADAT_DEKODER/BITZAEHLER_1" BEL "INST_ADAT_DEKODER/BITZAEHLER_0"
        BEL "INST_ADAT_DEKODER/NEUEDATEN" BEL
        "INST_ADAT_DEKODER/OUT_FRAMEOK_2" BEL
        "INST_ADAT_DEKODER/OUT_FRAMEOK_1" BEL
        "INST_ADAT_DEKODER/LETZTES_BIT_0" BEL
        "INST_ADAT_DEKODER/LETZTES_BIT_1" BEL
        "INST_ADAT_DEKODER/LETZTES_BIT_2" BEL
        "INST_ADAT_DEKODER/OUT_FRAMEOK_0" BEL
        "INST_ADAT_DEKODER/ADAT_SYNC_LETZER_WERT" BEL
        "INST_ADAT_ENKODER/BITNUMMER_RESET_ALT" BEL
        "INST_ADAT_ENKODER/UEBERNOMMEN" BEL "INST_ADAT_ENKODER/BITNUMMER_7"
        BEL "INST_ADAT_ENKODER/BITNUMMER_6" BEL
        "INST_ADAT_ENKODER/BITNUMMER_5" BEL "INST_ADAT_ENKODER/KANALNUMMER_2"
        BEL "INST_ADAT_ENKODER/KANALNUMMER_1" BEL
        "INST_ADAT_ENKODER/KANALNUMMER_0" BEL "INST_ADAT_ENKODER/PHASE_0" BEL
        "INST_ADAT_ENKODER/LOKALEBITNUMMER_2" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/LAENGE_1" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/LAENGE_0" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/BR_WE" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/BR_CLK" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/ANFANG_0" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/PUFFERLEER" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/PUFFERVOLL" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/BR_ADDR_0" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/PUFFERUEBERLAUF" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/VERZOEGERTERRAMTAKT_NOETIG_0" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/AUSGANG_NAECHSTERDATENSATZ_ALT" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/PUFFERUNTERLAUF" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/EINGANG_NEUEDATENANGEKOMMEN_ALT" BEL
        "INST_ADAT_DEKODER/OUT_NEUEDATEN" BEL "INST_ADAT_ENKODER/BITNUMMER_4"
        BEL "INST_ADAT_ENKODER/BITNUMMER_3" BEL
        "INST_ADAT_ENKODER/BITNUMMER_2" BEL "INST_ADAT_ENKODER/BITNUMMER_1"
        BEL "INST_ADAT_ENKODER/BITNUMMER_0" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_1" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_0" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_2" BEL "INST_ADAT_ENKODER/PHASE_2" BEL
        "INST_ADAT_ENKODER/PHASE_1" BEL "INST_ADAT_ENKODER/LOKALEBITNUMMER_4"
        BEL "INST_ADAT_ENKODER/LOKALEBITNUMMER_3" BEL
        "INST_ADAT_ENKODER/LOKALEBITNUMMER_1" BEL
        "INST_ADAT_ENKODER/LOKALEBITNUMMER_0" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_255_BRB1" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_255_BRB1" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_255_BRB1" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/PUFFERUEBERLAUF_1" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/PUFFERVOLL_1" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/PUFFERLEER_1" BEL
        "INST_BRAM_PUFFER_MCBSP_ENKODER/PUFFERUNTERLAUF_1" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_0_1" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_1_1" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_2_1" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_0/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_1.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_1/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_1.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_2/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_3.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_3/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_3.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_4/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_5.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_5/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_5.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_6/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_7.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_7/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_7.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_8/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_9.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_9/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_9.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_10/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_11.SLICEM_GMC15_BLACKBOX"
        BEL "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_11/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_11.SLICEM_FMC15_BLACKBOX"
        BEL "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_12/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_13.SLICEM_GMC15_BLACKBOX"
        BEL "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_13/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_13.SLICEM_FMC15_BLACKBOX"
        BEL "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_18_14/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_18" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_0/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_1.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_1/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_1.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_2/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_3.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_3/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_3.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_4/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_5.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_5/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_5.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_6/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_7.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_7/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_7.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_8/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_9.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_9/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_9.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_10/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_11.SLICEM_GMC15_BLACKBOX"
        BEL "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_11/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_11.SLICEM_FMC15_BLACKBOX"
        BEL "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_12/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_13.SLICEM_GMC15_BLACKBOX"
        BEL "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_13/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_13.SLICEM_FMC15_BLACKBOX"
        BEL "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_18_14/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_18" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_0/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_1.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_1/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_1.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_2/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_3.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_3/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_3.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_4/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_5.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_5/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_5.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_6/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_7.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_7/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_7.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_8/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_9.SLICEM_GMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_9/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_9.SLICEM_FMC15_BLACKBOX" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_10/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_11.SLICEM_GMC15_BLACKBOX"
        BEL "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_11/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_11.SLICEM_FMC15_BLACKBOX"
        BEL "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_12/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_13.SLICEM_GMC15_BLACKBOX"
        BEL "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_13/SRLC16E" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_13.SLICEM_FMC15_BLACKBOX"
        BEL "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_18_14/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_18" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_13/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_13" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_13/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_13" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_13/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_13" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_8/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_8" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_8/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_8" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_8/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_8" BEL "DEBUG_ADATTAKT" BEL
        "DEBUG_ADATTAKT_OBUF_BUFG.GCLKMUX" BEL "DEBUG_ADATTAKT_OBUF_BUFG";
TIMEGRP INST_SCHNELLERTAKT_CLKFX_BUF = BEL
        "INST_ADAT_TAKTGEWINNUNG/SIGNALAENDERUNGEN_8" BEL
        "INST_ADAT_TAKTGEWINNUNG/SIGNALAENDERUNGEN_7" BEL
        "INST_ADAT_TAKTGEWINNUNG/SIGNALAENDERUNGEN_6" BEL
        "INST_ADAT_TAKTGEWINNUNG/SIGNALAENDERUNGEN_5" BEL
        "INST_ADAT_TAKTGEWINNUNG/SIGNALAENDERUNGEN_4" BEL
        "INST_ADAT_TAKTGEWINNUNG/SIGNALAENDERUNGEN_3" BEL
        "INST_ADAT_TAKTGEWINNUNG/SIGNALAENDERUNGEN_2" BEL
        "INST_ADAT_TAKTGEWINNUNG/SIGNALAENDERUNGEN_1" BEL
        "INST_ADAT_TAKTGEWINNUNG/SIGNALAENDERUNGEN_0" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_9" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_8" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_7" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_6" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_5" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_4" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_3" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_2" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_1" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_0" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_FRAMELAENGEZAEHLER_9" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_FRAMELAENGEZAEHLER_8" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_FRAMELAENGEZAEHLER_7" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_FRAMELAENGEZAEHLER_6" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_FRAMELAENGEZAEHLER_5" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_FRAMELAENGEZAEHLER_4" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_FRAMELAENGEZAEHLER_3" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_FRAMELAENGEZAEHLER_2" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_FRAMELAENGEZAEHLER_1" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_FRAMELAENGEZAEHLER_0" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_BITLAENGE_1" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_BITLAENGE_0" BEL
        "INST_ADAT_TAKTGEWINNUNG/ADAT_TAKT" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_MAX_9" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_MAX_8" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_MAX_7" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_MAX_6" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_MAX_5" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_MAX_4" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_MAX_3" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_MAX_2" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_MAX_1" BEL
        "INST_ADAT_TAKTGEWINNUNG/ZEIT_OHNE_AENDERUNG_MAX_0" BEL
        "INST_ADAT_TAKTGEWINNUNG/BITLAENGEN_ZAEHLER_2" BEL
        "INST_ADAT_TAKTGEWINNUNG/BITLAENGEN_ZAEHLER_1" BEL
        "INST_ADAT_TAKTGEWINNUNG/BITLAENGEN_ZAEHLER_0" BEL
        "INST_ADAT_TAKTGEWINNUNG/FRAME_SYNC" BEL
        "INST_ADAT_TAKTGEWINNUNG/ADAT_IN_LETZTER_WERT" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_ERKENNUNGSLAENGE_6" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_ERKENNUNGSLAENGE_5" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_ERKENNUNGSLAENGE_4" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_ERKENNUNGSLAENGE_3" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_ERKENNUNGSLAENGE_2" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_ERKENNUNGSLAENGE_1" BEL
        "INST_ADAT_TAKTGEWINNUNG/SYNC_ERKENNUNGSLAENGE_0" BEL
        "INST_ADAT_TAKTGEWINNUNG/OUT_ADAT_CLOCK" BEL "BUFG_INST.GCLKMUX" BEL
        "BUFG_INST" BEL "INST_ADAT_TAKTGEWINNUNG/BUFG_INST.GCLKMUX" BEL
        "INST_ADAT_TAKTGEWINNUNG/BUFG_INST" BEL
        "INST_SCHNELLERTAKT/CLKFX_BUFG_INST.GCLKMUX" BEL
        "INST_SCHNELLERTAKT/CLKFX_BUFG_INST";
PIN INST_SCHNELLERTAKT/DCM_SP_INST_pins<3> = BEL
        "INST_SCHNELLERTAKT/DCM_SP_INST" PINNAME CLKIN;
TIMEGRP in_Platinentakt = PIN "INST_SCHNELLERTAKT/DCM_SP_INST_pins<3>";
TS_in_Platinentakt = PERIOD TIMEGRP "in_Platinentakt" 20 ns HIGH 50%;
TS_in_AdatTakt = PERIOD TIMEGRP "in_AdatTakt" 81.3802 ns HIGH 50%;
TS_INST_SCHNELLERTAKT_CLKFX_BUF = PERIOD TIMEGRP
        "INST_SCHNELLERTAKT_CLKFX_BUF" TS_in_Platinentakt / 6 HIGH 50%;
SCHEMATIC END;

