
CONFIG PART = XC3S700A-FG484-4;

NET "Platinentakt" LOC = E12 | IOSTANDARD = LVCMOS33 ;
NET "Platinentakt" PERIOD = 20 ns HIGH 50 %;

#NET "LED<7>" LOC = "W21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "LED<6>" LOC = "Y22" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "Out_EsLebt" LOC = "V20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "Out_PufferUeberlauf" LOC = "V19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "Out_PufferVoll" LOC = "U19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "Out_PufferUnterlauf" LOC = "U20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "Out_PufferLeer" LOC = "T19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
#NET "Out_FrameOK" LOC = "R20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

#NET "In_ADAT" LOC = "AA21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "Out_ADAT(0)" LOC = "AB21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "Out_ADAT(1)" LOC = "AA19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "Out_ADAT(2)" LOC = "AB19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

#VCCAUX# -> Info: UG625 (version 14.5) Seite 308:"VCCAUX"
CONFIG VCCAUX  = 3.3;
# 3.3 oder 2.5, je nach dem was an VCCAUX angelegt wurde



# PlanAhead Generated IO constraints 

NET "In_ADAT[0]" IOSTANDARD = LVCMOS33;
NET "In_ADAT[1]" IOSTANDARD = LVCMOS33;
NET "In_ADAT[2]" IOSTANDARD = LVCMOS33;
NET "out_ADAT[0]" IOSTANDARD = LVCMOS33;
NET "out_ADAT[1]" IOSTANDARD = LVCMOS33;
NET "out_ADAT[2]" IOSTANDARD = LVCMOS33;
NET "out_EsLebt" IOSTANDARD = LVCMOS33;
NET "out_FrameOK" IOSTANDARD = LVCMOS33;
NET "out_PufferLeer" IOSTANDARD = LVCMOS33;
NET "out_PufferUeberlauf" IOSTANDARD = LVCMOS33;
NET "out_PufferUnterlauf" IOSTANDARD = LVCMOS33;
NET "out_PufferVoll" IOSTANDARD = LVCMOS33;
NET "Platinentakt" IOSTANDARD = LVCMOS33;
