//! **************************************************************************
// Written by: Map P.20131013 on Tue May 13 15:35:17 2014
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "DEBUG_FRAMESYNC" LOCATE = SITE "P88" LEVEL 1;
COMP "OUT_PUFFERLEER" LOCATE = SITE "P32" LEVEL 1;
COMP "OUT_PUFFERVOLL" LOCATE = SITE "P19" LEVEL 1;
COMP "IN_ADATTAKT" LOCATE = SITE "P90" LEVEL 1;
COMP "OUT_ADAT<0>" LOCATE = SITE "P57" LEVEL 1;
COMP "OUT_ADAT<1>" LOCATE = SITE "P71" LEVEL 1;
COMP "OUT_ADAT<2>" LOCATE = SITE "P73" LEVEL 1;
COMP "OUT_PUFFERUEBERLAUF" LOCATE = SITE "P6" LEVEL 1;
COMP "IN_PLATINENTAKT" LOCATE = SITE "P89" LEVEL 1;
COMP "IN_ADAT<0>" LOCATE = SITE "P56" LEVEL 1;
COMP "IN_ADAT<1>" LOCATE = SITE "P70" LEVEL 1;
COMP "IN_ADAT<2>" LOCATE = SITE "P72" LEVEL 1;
COMP "OUT_FRAMEOK<0>" LOCATE = SITE "P3" LEVEL 1;
COMP "OUT_FRAMEOK<1>" LOCATE = SITE "P4" LEVEL 1;
COMP "OUT_FRAMEOK<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "OUT_ESLEBT" LOCATE = SITE "P94" LEVEL 1;
COMP "DEBUG_ADATTAKT" LOCATE = SITE "P83" LEVEL 1;
COMP "OUT_PUFFERUNTERLAUF" LOCATE = SITE "P33" LEVEL 1;
TIMEGRP in_AdatTakt = BEL "IN_ADAT_ALT" BEL "PERIODE_0" BEL "PERIODE_1" BEL
        "PERIODE_2" BEL "PERIODE_3" BEL "ADAT_FRAME_SYNC_ENKODER" BEL
        "ADAT_FRAME_SYNC" BEL "BITNUMMER_0" BEL "BITNUMMER_1" BEL
        "BITNUMMER_2" BEL "BITNUMMER_3" BEL "BITNUMMER_4" BEL "BITNUMMER_5"
        BEL "BITNUMMER_6" BEL "BITNUMMER_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_1_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_7_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.USERBITS_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.USERBITS_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.USERBITS_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.USERBITS_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_0_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_6_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_5_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_3_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.USERBITS_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.USERBITS_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.USERBITS_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.USERBITS_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_4_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_2_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_1_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<2>.KANAELE_0_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.USERBITS_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.USERBITS_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.USERBITS_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.USERBITS_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_6_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_5_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_7_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_4_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_3_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_1_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_0_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<1>.KANAELE_2_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_6_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_5_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_7_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_3_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_2_0" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_23" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_22" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_21" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_20" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_19" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_18" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_17" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_16" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_15" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_14" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_13" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_12" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_11" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_10" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_9" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_8" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_7" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_6" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_5" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_4" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_3" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_2" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_1" BEL
        "INST_ADAT_DEKODER/OUT_DATEN<0>.KANAELE_4_0" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_2" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_3" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_4" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_7" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_8" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_9" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_12" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_13" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_14" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_17" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_18" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_19" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_22" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_23" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_24" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_27" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_28" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_29" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_32" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_33" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_34" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_37" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_38" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_39" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_42" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_43" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_44" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_47" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_48" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_49" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_52" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_53" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_54" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_57" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_58" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_59" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_62" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_63" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_64" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_67" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_68" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_69" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_72" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_73" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_74" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_77" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_78" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_79" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_82" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_83" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_84" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_87" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_88" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_89" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_92" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_93" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_94" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_97" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_98" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_99" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_102" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_103" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_104" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_107" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_108" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_109" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_112" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_113" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_114" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_117" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_118" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_119" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_122" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_123" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_124" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_127" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_128" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_129" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_132" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_133" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_134" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_137" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_138" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_139" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_142" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_143" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_144" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_147" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_148" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_149" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_152" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_153" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_154" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_157" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_158" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_159" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_162" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_163" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_164" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_167" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_168" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_169" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_172" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_173" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_174" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_177" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_178" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_179" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_182" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_183" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_184" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_187" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_188" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_189" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_192" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_193" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_194" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_197" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_198" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_199" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_202" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_203" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_204" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_207" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_208" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_209" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_212" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_213" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_214" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_217" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_218" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_219" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_222" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_223" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_224" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_227" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_228" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_229" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_232" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_233" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_234" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_237" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_238" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_239" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_242" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_243" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_244" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_254" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_2" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_3" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_4" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_7" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_8" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_9" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_12" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_13" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_14" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_17" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_18" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_19" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_22" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_23" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_24" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_27" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_28" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_29" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_32" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_33" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_34" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_37" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_38" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_39" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_42" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_43" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_44" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_47" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_48" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_49" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_52" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_53" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_54" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_57" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_58" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_59" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_62" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_63" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_64" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_67" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_68" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_69" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_72" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_73" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_74" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_77" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_78" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_79" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_82" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_83" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_84" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_87" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_88" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_89" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_92" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_93" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_94" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_97" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_98" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_99" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_102" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_103" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_104" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_107" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_108" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_109" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_112" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_113" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_114" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_117" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_118" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_119" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_122" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_123" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_124" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_127" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_128" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_129" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_132" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_133" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_134" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_137" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_138" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_139" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_142" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_143" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_144" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_147" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_148" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_149" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_152" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_153" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_154" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_157" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_158" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_159" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_162" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_163" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_164" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_167" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_168" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_169" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_172" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_173" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_174" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_177" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_178" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_179" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_182" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_183" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_184" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_187" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_188" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_189" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_192" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_193" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_194" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_197" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_198" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_199" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_202" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_203" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_204" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_207" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_208" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_209" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_212" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_213" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_214" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_217" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_218" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_219" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_222" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_223" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_224" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_227" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_228" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_229" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_232" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_233" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_234" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_237" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_238" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_239" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_242" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_243" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_244" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_254" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_2" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_3" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_4" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_7" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_8" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_9" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_12" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_13" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_14" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_17" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_18" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_19" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_22" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_23" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_24" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_27" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_28" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_29" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_32" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_33" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_34" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_37" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_38" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_39" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_42" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_43" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_44" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_47" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_48" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_49" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_52" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_53" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_54" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_57" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_58" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_59" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_62" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_63" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_64" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_67" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_68" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_69" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_72" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_73" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_74" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_77" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_78" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_79" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_82" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_83" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_84" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_87" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_88" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_89" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_92" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_93" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_94" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_97" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_98" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_99" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_102" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_103" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_104" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_107" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_108" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_109" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_112" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_113" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_114" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_117" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_118" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_119" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_122" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_123" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_124" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_127" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_128" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_129" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_132" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_133" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_134" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_137" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_138" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_139" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_142" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_143" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_144" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_147" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_148" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_149" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_152" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_153" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_154" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_157" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_158" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_159" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_162" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_163" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_164" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_167" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_168" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_169" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_172" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_173" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_174" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_177" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_178" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_179" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_182" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_183" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_184" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_187" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_188" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_189" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_192" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_193" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_194" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_197" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_198" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_199" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_202" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_203" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_204" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_207" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_208" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_209" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_212" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_213" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_214" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_217" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_218" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_219" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_222" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_223" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_224" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_227" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_228" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_229" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_232" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_233" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_234" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_237" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_238" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_239" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_242" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_243" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_244" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_254" BEL
        "INST_ADAT_DEKODER/BITZAEHLER_7" BEL "INST_ADAT_DEKODER/BITZAEHLER_6"
        BEL "INST_ADAT_DEKODER/BITZAEHLER_5" BEL
        "INST_ADAT_DEKODER/BITZAEHLER_4" BEL "INST_ADAT_DEKODER/BITZAEHLER_3"
        BEL "INST_ADAT_DEKODER/BITZAEHLER_2" BEL
        "INST_ADAT_DEKODER/BITZAEHLER_1" BEL "INST_ADAT_DEKODER/BITZAEHLER_0"
        BEL "INST_ADAT_DEKODER/NEUEDATEN" BEL
        "INST_ADAT_DEKODER/OUT_NEUEDATEN" BEL
        "INST_ADAT_DEKODER/OUT_FRAMEOK_2" BEL
        "INST_ADAT_DEKODER/OUT_FRAMEOK_1" BEL
        "INST_ADAT_DEKODER/LETZTES_BIT_0" BEL
        "INST_ADAT_DEKODER/LETZTES_BIT_1" BEL
        "INST_ADAT_DEKODER/LETZTES_BIT_2" BEL
        "INST_ADAT_DEKODER/OUT_FRAMEOK_0" BEL
        "INST_ADAT_DEKODER/ADAT_SYNC_LETZER_WERT" BEL
        "INST_ADAT_ENKODER/BITNUMMER_RESET_ALT" BEL
        "INST_ADAT_ENKODER/UEBERNOMMEN" BEL "INST_ADAT_ENKODER/BITNUMMER_7"
        BEL "INST_ADAT_ENKODER/BITNUMMER_6" BEL
        "INST_ADAT_ENKODER/BITNUMMER_5" BEL "INST_ADAT_ENKODER/KANALNUMMER_2"
        BEL "INST_ADAT_ENKODER/KANALNUMMER_1" BEL
        "INST_ADAT_ENKODER/KANALNUMMER_0" BEL "INST_ADAT_ENKODER/PHASE_0" BEL
        "INST_ADAT_ENKODER/LOKALEBITNUMMER_4" BEL
        "INST_ADAT_ENKODER/LOKALEBITNUMMER_3" BEL
        "INST_ADAT_ENKODER/LOKALEBITNUMMER_2" BEL
        "INST_DYNAMISCHERADATPUFFERBRAM/LAENGE_1" BEL
        "INST_DYNAMISCHERADATPUFFERBRAM/LAENGE_0" BEL
        "INST_DYNAMISCHERADATPUFFERBRAM/BR_WE" BEL
        "INST_DYNAMISCHERADATPUFFERBRAM/BR_CLK" BEL
        "INST_DYNAMISCHERADATPUFFERBRAM/ANFANG_0" BEL
        "INST_DYNAMISCHERADATPUFFERBRAM/PUFFERLEER" BEL
        "INST_DYNAMISCHERADATPUFFERBRAM/PUFFERVOLL" BEL
        "INST_DYNAMISCHERADATPUFFERBRAM/BR_ADDR_0" BEL
        "INST_DYNAMISCHERADATPUFFERBRAM/PUFFERUEBERLAUF" BEL
        "INST_DYNAMISCHERADATPUFFERBRAM/VERZOEGERTERRAMTAKT_NOETIG_0" BEL
        "INST_DYNAMISCHERADATPUFFERBRAM/AUSGANG_NAECHSTERDATENSATZ_ALT" BEL
        "INST_DYNAMISCHERADATPUFFERBRAM/PUFFERUNTERLAUF" BEL
        "INST_DYNAMISCHERADATPUFFERBRAM/EINGANG_NEUEDATENANGEKOMMEN_ALT" BEL
        "INST_ADAT_ENKODER/BITNUMMER_4" BEL "INST_ADAT_ENKODER/BITNUMMER_3"
        BEL "INST_ADAT_ENKODER/BITNUMMER_2" BEL
        "INST_ADAT_ENKODER/BITNUMMER_1" BEL "INST_ADAT_ENKODER/BITNUMMER_0"
        BEL "INST_ADAT_ENKODER/INTERN_ADAT_1" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_0" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_2" BEL "INST_ADAT_ENKODER/PHASE_2" BEL
        "INST_ADAT_ENKODER/PHASE_1" BEL "INST_ADAT_ENKODER/LOKALEBITNUMMER_1"
        BEL "INST_ADAT_ENKODER/LOKALEBITNUMMER_0" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_255_BRB1" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_255_BRB1" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_255_BRB1" BEL "ADAT_FRAME_SYNC_1" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_0_1" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_1_1" BEL
        "INST_ADAT_ENKODER/INTERN_ADAT_2_1" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_15/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_15" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_5/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_5" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_10/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_10" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_20/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_20" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_25/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_25" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_40/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_40" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_30/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_30" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_35/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_35" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_45/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_45" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_50/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_50" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_65/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_65" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_55/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_55" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_60/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_60" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_70/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_70" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_75/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_75" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_80/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_80" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_85/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_85" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_90/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_90" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_95/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_95" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_110/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_110" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_100/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_100" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_105/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_105" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_115/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_115" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_120/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_120" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_125/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_125" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_130/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_130" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_135/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_135" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_140/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_140" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_155/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_155" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_145/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_145" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_150/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_150" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_160/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_160" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_165/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_165" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_170/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_170" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_175/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_175" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_180/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_180" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_185/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_185" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_200/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_200" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_190/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_190" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_195/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_195" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_205/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_205" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_210/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_210" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_225/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_225" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_215/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_215" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_220/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_220" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_230/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_230" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_235/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_235" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_5/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_5" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_240/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_240" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_2_245/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_2_245" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_10/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_10" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_15/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_15" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_20/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_20" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_25/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_25" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_30/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_30" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_35/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_35" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_50/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_50" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_40/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_40" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_45/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_45" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_55/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_55" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_60/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_60" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_65/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_65" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_70/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_70" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_75/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_75" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_80/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_80" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_95/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_95" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_85/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_85" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_90/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_90" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_100/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_100" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_105/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_105" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_110/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_110" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_115/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_115" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_120/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_120" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_125/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_125" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_140/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_140" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_130/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_130" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_135/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_135" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_145/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_145" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_150/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_150" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_165/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_165" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_155/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_155" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_160/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_160" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_170/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_170" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_175/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_175" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_190/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_190" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_180/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_180" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_185/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_185" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_195/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_195" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_200/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_200" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_205/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_205" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_210/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_210" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_215/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_215" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_220/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_220" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_235/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_235" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_225/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_225" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_230/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_230" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_240/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_240" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_1_245/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_1_245" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_5/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_5" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_10/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_10" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_15/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_15" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_20/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_20" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_35/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_35" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_25/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_25" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_30/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_30" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_40/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_40" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_45/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_45" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_50/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_50" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_55/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_55" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_60/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_60" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_65/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_65" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_80/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_80" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_70/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_70" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_75/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_75" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_85/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_85" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_90/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_90" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_95/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_95" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_100/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_100" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_105/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_105" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_110/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_110" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_125/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_125" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_115/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_115" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_120/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_120" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_130/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_130" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_135/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_135" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_140/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_140" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_145/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_145" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_150/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_150" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_155/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_155" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_170/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_170" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_160/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_160" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_165/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_165" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_175/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_175" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_180/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_180" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_185/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_185" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_190/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_190" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_195/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_195" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_200/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_200" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_215/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_215" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_205/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_205" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_210/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_210" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_220/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_220" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_225/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_225" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_230/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_230" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_235/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_235" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_240/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_240" BEL
        "INST_ADAT_DEKODER/MSHREG_ADAT_FRAME_0_245/SRL16E" BEL
        "INST_ADAT_DEKODER/ADAT_FRAME_0_245" BEL "DEBUG_ADATTAKT" BEL
        "DEBUG_ADATTAKT_OBUF_BUFG.GCLKMUX" BEL "DEBUG_ADATTAKT_OBUF_BUFG";
TIMEGRP in_Platinentakt = BEL "WERT" BEL "OUT_ESLEBT" BEL "I_0" BEL "I_1" BEL
        "I_2" BEL "I_3" BEL "I_4" BEL "I_5" BEL "I_6" BEL "I_7" BEL "I_8" BEL
        "I_9" BEL "I_10" BEL "I_11" BEL "I_12" BEL "I_13" BEL "I_14" BEL
        "I_15" BEL "I_16" BEL "I_17" BEL "I_18" BEL "I_19" BEL "I_20" BEL
        "I_21" BEL "I_22" BEL "I_23" BEL "I_24" BEL "I_25" BEL "I_26" BEL
        "I_27" BEL "I_28" BEL "I_29" BEL "I_30" BEL "I_31" BEL
        "IN_PLATINENTAKT_BUFGP/BUFG.GCLKMUX" BEL "IN_PLATINENTAKT_BUFGP/BUFG";
TS_in_Platinentakt = PERIOD TIMEGRP "in_Platinentakt" 20 ns HIGH 50%;
TS_in_AdatTakt = PERIOD TIMEGRP "in_AdatTakt" 81.3802 ns HIGH 50%;
SCHEMATIC END;

